img {
    height: 150px;
    margin: 30px;
    background: 
        radial-gradient(ellipse, 
            rgba(252, 252, 252, 1) 30%, 
            rgba(252, 252, 252, 0.5) 60%,
            rgba(252, 252, 252, 0) 100%);
    border-radius: 5px;
    box-shadow: 0 0 15px 10px rgba(252, 252, 252, 0.2);
}



@media screen and (max-width: 1200px){
    img {
        height: 125px;
    }
}

@media screen and (max-width: 768px) {
    img {
        height: 100px;
    }
}

@media screen and (max-width: 480px) {
    img {
        height: 75px;
        margin: 15px;
    }
}