#skills {
    background: 
    radial-gradient(ellipse, 
        rgba(252, 252, 252, 1) 30%, 
        rgba(252, 252, 252, 0.5) 60%,
        rgba(252, 252, 252, 0) 100%);
    border-radius: 5px;
    box-shadow: 0 0 15px 10px rgba(252, 252, 252, 0.2);
}



