#root {
    min-height: 100vh;
    background-size:cover;
    height: 100%;
    background: rgb(175,237,250);
    background: linear-gradient(90deg, rgba(175,237,250,1) 0%, rgba(209,209,238,1) 50%, rgba(175,237,250,1) 100%);
}

.hangman-picture {
    background-color: white;
    width: 30vmin;
    display: flex;
    justify-content: center;
}

.game-links {
    color: black;
    text-decoration: none;
}

.game-card {
    max-width: 40vmin;
}

@media (max-width: 800px) {
    .card-body {
        max-width: 100vmin;
    }
}

.joke_quote {
    display: flex;
    flex-direction: row;
}

.quote, .joke {
    width: 50%;
}