#root {
    height: 100vh;
    background-image: url('/public/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hangman-picture {
    background-color: white;
    width: 30vmin;
    display: flex;
    justify-content: center;
}

.game-links {
    color: black;
    text-decoration: none;
}

.game-card {
    max-width: 40vmin;
}
